<!doctype html>

<html lang="en">

<head th:replace="snippets.html :: name_head"></head>

<body>

<nav th:replace="snippets.html :: name_app_navbar"></nav>

<div class="container">

    <!-- Top row with form-->
    <div class="row">
        <div class="col-12">
            <form class="form-inline">
                <button type="button" class="btn btn-primary" id="add-brand-modal">Add Brand</button>
                &nbsp;
                <button type="button" class="btn btn-primary" id="refresh-data">Refresh</button>
                &nbsp;
                <button type="button" class="btn btn-primary" id="upload-data">Upload</button>

            </form>
        </div>
    </div>


    <!-- Blank Row -->
    <div class="row">
        &nbsp;
    </div>
    <div class="row">
        <div class="col-12">
            <table class="table table-striped table-bordered table-hover shadow p-3 mb-5 bg-white rounded css-serial text-center" id="brand-table">
                <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">BRAND</th>
                    <th scope="col">CATEGORY</th>
                    <th scope="col">ACTIONS</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>

        </div>
    </div>

    <!--    Add New Brand Model-->
    <div class="modal" tabindex="-1" role="dialog" id="add-brand-item-modal">
        <div class="modal-dialog modal-md" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Add Brand</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form class="form-group" id="brand-form">
                        <div class="form-group">
                            <label for="inputBrand" class="col-sm-2 col-form-label">Brand</label>
                            <div class="col-sm-12">
                                <input type="text" class="form-control" name="brand" id="inputBrand" maxlength="20"
                                       placeholder="Enter Brand Name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputCategory" class="col-sm-2 col-form-label">Category</label>
                            <div class="col-sm-12">
                                <input type="text" class="form-control" name="category" id="inputCategory" maxlength="20"
                                       placeholder="Enter Category Name">
                            </div>
                        </div>
                        <div class="text-center">
                            <button type="button" class="btn btn-primary" id="add-brand">Add</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>


    <!-- Brand Edit Modal -->
    <div class="modal" tabindex="-1" role="dialog" id="edit-brand-modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Edit Brand</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form class="form-group" id="brand-edit-form">
                        <div class="form-group">
                            <label for="inputBrand" class="col-sm-2 col-form-label">Brand</label>
                            <div class="col-sm-12">
                                <input type="text" class="form-control" name="brand" placeholder="Enter Name" maxlength="20">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputCategory" class="col-sm-2 col-form-label">Category</label>
                            <div class="col-sm-12">
                                <input type="text" class="form-control" name="category" placeholder="Enter Category" maxlength="20">
                            </div>
                        </div>


                        <input type="hidden" name="id">
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" id="update-brand">Update</button>
                </div>
            </div>
        </div>
    </div>


    <!-- Brand Upload Modal -->
    <div class="modal" tabindex="-1" role="dialog" id="upload-brand-modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title">Upload Brand</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <div class="brand-file">
                        <input type="file" class="custom-file-input" id="brandFile">
                        <label class="custom-file-label" for="brandFile" id="brandFileName">Choose file</label>
                    </div>
                    <a th:href="@{/sample/brand.tsv}" target="_blank">Download Sample</a>
                    <br>
<!--                    Rows: <span id="rowCount">0</span>,-->
<!--                    Processed: <span id="processCount">0</span>,-->
<!--                    Errors: <span id="errorCount">0</span>-->
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" id="process-data">Upload</button>
                    <button type="button" class="btn btn-warning" id="download-errors">Download Errors</button>
                </div>
            </div>
        </div>
    </div>

</div> <!-- Container end-->

<footer th:replace="snippets.html :: name_footer"></footer>

<script th:src="@{/static/brand.js}"/>
</script>

</body>

</html>