<!doctype html>

<html lang="en">

<head th:replace="snippets.html :: name_head"></head>

<body>

<nav th:replace="snippets.html :: name_app_navbar"></nav>

<div class="container mt-4">

    <h1>Daily Sales Report</h1>

    <!-- Top row with form-->
    <div class="row">
        <div class="col-12">
            <form class="form-inline">
                <button type="button" class="btn btn-primary" id="run-scheduler">Run Scheduler</button>
                &nbsp;
                <button type="button" class="btn btn-primary" id="refresh-data">Refresh</button>
            </form>
        </div>
    </div>
    <!-- Blank Row -->
    <div class="row">
        &nbsp;
    </div>
    <div class="row">

        <!-- Table -->
        <div class="col-12">
            <table class="table table-striped table-bordered table-hover shadow p-3 mb-5 bg-white rounded text-center" id="daily-table">
                <thead class="thead-dark shadow sticky-top">
                <tr>
                    <th scope="col">S no.</th>
                    <th scope="col">Date</th>
                    <th scope="col">Invoiced Orders Count</th>
                    <th scope="col">Invoiced Items Count</th>
                    <th class="text-right" scope="col">Total Revenue</th>
                </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
    </div>


</div> <!-- Container end-->

<footer th:replace="snippets.html :: name_footer"></footer>

<script th:src="@{/static/dailySalesReport.js}"/></script>

</body>

</html>