<head th:fragment="name_head">

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <meta name="baseUrl" th:attr="content=${baseUrl}">

    <script crossorigin="anonymous" src="https://kit.fontawesome.com/c30beb553f.js"></script>

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/static/app.css}">

</head>

<nav class="navbar navbar-expand-lg navbar-light bg-light mb-1" th:fragment="name_site_navbar">
    <a class="navbar-brand" th:href="@{/}">
        <img alt="" class="d-inline-block align-top" th:src="@{/static/logo.jpg}">
    </a>

    <button aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"
            data-target="#navbarNav" data-toggle="collapse" type="button">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/site/features}">Features</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/site/pricing}">Pricing</a>
            </li>
        </ul>

        <ul class="navbar-nav ml-auto">
            <!--            <li class="nav-item">-->
            <!--                <a class="btn btn-primary" th:href="@{/site/login}">Login</a>-->
            <!--            </li>-->
            <li class="nav-item">
                <a class="btn btn-primary" th:href="@{/site/signup}">Sign Up</a>
            </li>
        </ul>

    </div>
</nav>

<nav class="navbar navbar-expand-lg navbar-light bg-light  mb-1" th:fragment="name_app_navbar">
    <a class="navbar-brand" th:href="@{/}">
        <img alt="" class="d-inline-block align-top" th:src="@{/static/logo.jpg}">
    </a>

    <button aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"
            data-target="#navbarNav" data-toggle="collapse" type="button">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <!--        <ul class="navbar-nav">-->
        <ul class="nav nav-pills">

            <li class="nav-item">
                <a class="nav-link" id="home-link" th:href="@{/ui/home}">Home</a>
            </li>
            <!--      <li class="nav-item">-->
            <!--        <a class="nav-link" th:href="@{/ui/employee}">Employees</a>-->
            <!--      </li>-->
            <!--      <li class="nav-item">-->
            <!--        <a class="nav-link" th:href="@{/ui/admin}">Admin</a>-->
            <!--      </li>-->
            <li class="nav-item">
                <a class="nav-link" id="brand-link" th:href="@{/ui/brand}">Brands-Category</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="product-link" th:href="@{/ui/products}">Products</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="inventory-link" th:href="@{/ui/inventory}">Inventory</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="order-link" th:href="@{/ui/order}">Order</a>
            </li>
            <li class="nav-item dropdown">
                <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle" data-toggle="dropdown"
                   id="reports-link" th:href="@{/ui/report}">Reports</a>
                <div aria-labelledby="reports-link" class="dropdown-menu shadow">
                    <a class="dropdown-item" th:href="@{/ui/report/inventoryReport}">Inventory Report</a>
                    <a class="dropdown-item" th:href="@{/ui/report/brandReport}">Brand Category Report</a>
                    <a class="dropdown-item" th:href="@{/ui/report/salesReport}">Sales Report</a>
                    <a class="dropdown-item" th:href="@{/ui/report/dailySalesReport}">Daily Sales Report</a>
                </div>
            </li>
            <li class="nav-item supervisor-only">
                <a class="nav-link" id="admin-link" th:href="@{/ui/admin}">Admin</a>
            </li>
        </ul>

        <ul class="navbar-nav ml-auto">
            <li class="navbar-text">
                [[${info.getEmail()}]]
<!--                &nbsp;&gt;&nbsp;-->
                (
                [[${info.getRole()}]]
                )
                &nbsp;
            </li>
            <li class="nav-item">
                <a class="btn btn-primary" th:href="@{/session/logout}">Logout</a>
            </li>
        </ul>


    </div>
</nav>

<footer class="footer  mt-1" th:fragment="name_footer">
    Copyright Increff 2022
    &nbsp;<script>
    const navLinks = document.querySelectorAll(".nav-item .nav-link");
    const currentUrl = window.location.pathname;
    // console.log("In the active");
    navLinks.forEach(link => {
        if (link.getAttribute("href") === currentUrl) {
            link.classList.add("active");
        }
    });
</script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script th:src="@{/static/app.js}"></script>
    <script th:src="@{/static/papaparse.min.js}"></script>

</footer>


